body {
    text-align: center;
    background-color: aqua;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
}

/* 2 boxes per line */
.btn-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
}

/* Button colors */
.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

/* Flash effect */
.flash {
    filter: brightness(2);
}
