body {
    text-align: center;
    background-color: aqua;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

/* Button colors */
.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.purple {
    background-color: purple;
}

.green {
    background-color: green;
}

/* Flash effect for blinking */
.flash {
    filter: brightness(2);
}
